<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <h1>Tus películas disponibles</h1>
      <div class="row mt20" *ngIf = "DatosU">
        <div class="col-md-6" *ngFor = "let e of DatosU">
          <mat-card class="mb20">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
              </div>
              <mat-card-title>
                {{ e.titulo }}
              </mat-card-title>
              <mat-card-subtitle>
                {{ e.descripcion }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p><b>Fecha Inicio: </b>{{ e.fecha_inicio }}.  <b>Fecha Fin: </b>{{ e.fecha_fin }}.</p>
              <p><b>Precio Alquiler: </b>{{ e.precio_alquiler }}. <b>Popularidad: </b>{{ e.numeroDeReacciones }}.</p>
              <div *ngIf="e.pagoMora">Cobro por retraso: $50.0</div>
            </mat-card-content>
            <mat-card-actions>
              <div *ngIf="e.tipo == 2"><button mat-button color="accent">Devolver</button></div>
              <a (click)="megusta(e.id,e.idReaccion,e.reaccion)"><mat-icon>thumb_up</mat-icon><div *ngIf="e.reaccion == 1">Me gusta</div></a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-12" *ngIf = "DatosU.length == 0">
          <mat-card>
            <mat-card-content>
              <h1>No hay películas agregadas</h1>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>