<mat-card>
    <h1>Película</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Título</mat-label>
                    <input
                    [(ngModel)] = "movieData.titulo"
                    type="text"
                    name="titulo"
                    required
                    placeholder="Digite el título"
                    matInput>
                </mat-form-field>
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea
                    [(ngModel)] = "movieData.descripcion"
                    type="text"
                    name="descripcion"
                    placeholder="Digite la descripción"
                    matInput
                    rows="8"></textarea>
                </mat-form-field>
    
                <div class="row">
                    <div class="col-md-6">
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Precio Venta</mat-label>
                        <input
                        [(ngModel)] = "movieData.precio_venta"
                        type="number"
                        name="precio_venta"
                        placeholder="Digite precio"
                        matInput>
                    </mat-form-field>
                    </div>
                    <div class="col-md-6">
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Precio Alquiler</mat-label>
                        <input
                        [(ngModel)] = "movieData.precio_alquiler"
                        type="number"
                        name="precio_alquiler"
                        placeholder="Digite precio"
                        matInput>
                    </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Stock</mat-label>
                        <input
                        [(ngModel)] = "movieData.stock"
                        type="number"
                        name="stock"
                        placeholder="Digite stock"
                        matInput>
                    </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-slide-toggle class="mt20" name="estado" [(ngModel)] = "movieData.estado" color="primary">
                            Estado 
                        </mat-slide-toggle>
                    </div>
                </div>

                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Imagen</mat-label>
                    <button mat-icon-button matPrefix (click)="f_input.click()">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                            <input 
                            type="text" 
                            name="imagen" 
                            [ngModelOptions]="{standalone: true}" 
                            readonly 
                            matInput 
                            [(ngModel)] = "movieData.imagen"
                            required />
                                <input
                                type="file"
                                hidden
                                #f_input
                                (change)="onFileSelected($event)"
                                >
                </mat-form-field>
    
                <div class="container text-center">
                    <div *ngIf="botonesAgregar"  class="footer-formulario">
                        <button mat-raised-button (click)="guardarCuestionario()" color="primary">Guardar</button>
                    </div>
                    <div *ngIf="botonesActualizar"  class="footer-formulario">
                        <button mat-raised-button (click)="actualizarDatos()" color="primary">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </mat-card>
  