<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink = "/admin" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>
    <button mat-list-item routerLink = "/admin/users">
      <mat-icon mat-list-icon>account_circle</mat-icon>Usuarios
    </button>
    <button mat-list-item routerLink = "/admin/movies">
      <mat-icon mat-list-icon>movie</mat-icon>Películas
    </button>
    <button mat-list-item routerLink = "/admin/alquileres">
      <mat-icon mat-list-icon>list</mat-icon>Lista Alquileres
    </button>
    <button mat-list-item routerLink = "/admin/compras">
      <mat-icon mat-list-icon>list</mat-icon>Lista Compras
    </button>
    <button mat-list-item (click) = "logout()">
      <mat-icon mat-list-icon>logout</mat-icon>Salir
    </button>
  </mat-action-list>
</mat-card>